@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;800&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

.liquid
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #183954;
}

.liquid h2
{
    position: absolute;
    font-size: 26vw;
    
}

.liquid h2:nth-child(1)
{
    color: #fff;
    text-shadow: -2px 2px 0px #183954,
    -4px 4px 0px #183954,
    -6px 6px 0px #183954,
    -8px 6px 0px #183954,
    -18px 18px 20px rgba(0, 0, 0, 0.5),
    -18px 18px 50px rgba(0, 0, 0, 0.5);
}

.liquid h2:nth-child(2)
{
    color: #2196f3;
    opacity: 0.5;
    animation: animate 3s ease-in-out infinite;
}

.liquid h2:nth-child(3)
{
    color: #2196f3;
    opacity: 0.5;
    animation: animate 6s ease-in-out infinite;
}

.liquid h2:nth-child(4)
{
    color: #2196f3;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate
{
    0%,100%
    {
        clip-path: polygon(0% 60%, 14% 69%, 34% 72%, 52% 70%, 67% 62%, 85% 54%, 100% 52%, 100% 100%, 0% 100%);  
    }
    25%
    {
        clip-path: polygon(0 50%, 14% 61%, 37% 65%, 54% 58%, 69% 60%, 81% 65%, 100% 66%, 100% 100%, 0% 100%);
    }
    50%
    {
        clip-path: polygon(0 50%, 16% 47%, 36% 52%, 52% 64%, 69% 64%, 84% 57%, 100% 54%, 100% 100%, 0% 100%);
    }
}